.feed {
    display: grid ;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-column-gap: 16px ;
    grid-row-gap: 30px;
    margin-top: 15px;
}


@media (max-width:900px) {
    .feed {
        margin-top: 0px;
    }
}